*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mapa{
    width: 100%;
}
.contactado{
    position: relative;
    display: inline-block;
    margin-left: 120px;
}
.contacto{
    display: flex;
    
}
.container mt-5 .contactado{
flex: 1;
}
.container mt-5 {
    width: 400px;
}
.errorInput{
    border: 3px dashed orange;
}
