*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgba(240, 241, 245, 0.672);
    overflow-x: hidden;
}
.cajas{
    width: 100%; 
    height: 300px;
}
.textdistri{
    width:40%;
    position: absolute;
    top: 30%; 
    margin-left: 110px;
    color: antiquewhite;
}
.distribuidor{
    width: 100%;
    height: auto;
    padding-bottom: 80px;
}
.distribuidor2{
    position: relative;
    width:100%;
    margin-top: 50px;
    padding-bottom: 80px;
}
article{
    width: 50%;
    position: relative;
    margin-right: 20px;
}
.textodospasos{
    margin-left: 110px;
    width: 100%;
    display: inline-block;
    width: 50%;
    height: 200px;
}
.imagenVerde{
    margin-left: 110px;
    width: 50%;
    position: relative;
}
.verde{
    width: 100%;
    height: 300px;
}
.textodospasos .verde{
    flex: 1;
}
.container-formulario{
    width: 50%;
    position:relative;
    margin-left: 750px;
    margin-top: -500px;
    height: 100%;
}
.formulario2{
    width: 100%;
height: 100%;
}
.registro{
    width: 80%;
    height: auto;
}
.inp-error{
    border: 2px dashed rgb(73, 144, 182);
}
.form-enviar{
padding-top: 10px;
}
.boton-enviar{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 162, 255);
    color: blue;
    border-style: none;
}
.boton-enviar:hover{
    background-color: rgb(55, 108, 194);
    color: aqua;
}

.contproductos{
    width: 100%;
}
.conte3{
width: 100%;
}
.contprod{
    
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: space-between; 
}
.contprod div {
    
    width: calc(25% - 10px); /* Ajusta el ancho para que haya 4 elementos por fila */
    margin-bottom: 20px; 
}